$db_bgc=#f7f7a7//使用变量
// stylus -w douban.styl -o douban.css 
.db_staticNav
    background $db_bgc
    display flex
    width 100%
    align-items 50px
    margin-top 50px
    padding 0 18px//18是标准
    height 60px
    justify-content space-between//子元素之间自动填充一些间隙
