.Center {
    display: flex;
    background-color: rgb(236, 236, 236);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.card-meta {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; 
    /* //作为弹性伸缩盒子模型显示。 */
    -webkit-box-orient: vertical;
    /* //设置伸缩盒子的子元素排列方式--从上到下垂直排列 */
    -webkit-line-clamp: 2;
     /* //显示的行 */
}